.footer {
	&__wrapper {
		max-width: 1224px;
		margin: 0 auto;
		margin-top: 240px;
		margin-bottom: 98px;
		display: flex;
		justify-content: flex-start;
		gap: 156px;
	}
	&__copyrigth {
		max-width: 260px;
		&-text {
			margin-top: 25px;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: rgba(255, 255, 255, 0.9);
		}
		&-descr {
			margin-top: 21px;
			font-weight: 400;
			font-size: 14px;
			line-height: 25px;
			color: rgba(255, 255, 255, 0.55);
		}
	}
	&__title {
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		color: rgba(255, 255, 255, 0.9);
	}
	&__menu-wrapper {
		display: flex;
		justify-content: flex-start;
		gap: 115px;
	}
	&__list {
		margin-top: 20px;
		li {
			margin-bottom: 10px;
			a {
				text-decoration: none;
				font-weight: 500;
				font-size: 16px;
				line-height: 24px;
				color: rgba(255, 255, 255, 0.55);
				&:hover {
					color: #ffffff;
					transition: all 0.3s ease;
				}
			}
		}
	}
}
